/* components/ChecklistSection.module.css */
.sectionContainer {
  margin-bottom: 40px; /* Espacio grande entre secciones */
}

.sectionTitle {
  font-size: 1.25rem; /* Reducir tamaño de fuente */
  color: #001845; /* Cambiado a azul oscuro */
  font-weight: 600; /* Aumentar un poco el peso */
  margin-bottom: 25px; /* Aumentar margen inferior */
  padding: 8px 0; /* Quitar padding horizontal, ajustar vertical */
  background-color: transparent; /* Sin fondo */
  border-radius: 0; /* Sin bordes redondeados */
  border-left: none; /* Quitar borde izquierdo */
  border-bottom: 2px solid #e0e0e0; /* Añadir un borde inferior ligero */
  text-align: left; /* Alinear a la izquierda */
} 