@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #001A3D; /* Azul marino */
  --secondary-color: #1e40af; /* Azul oscuro */
}

body {
  background-color: white;
}
